<section class="search">
  <h1>Search</h1>

  <form class="search-form" action="/search" method="POST">
    <input
      type="text"
      class="search-name"
      name="searchName"
      placeholder="Search Name..."
      value="{{searchName}}"
    />
    <input
      type="text"
      class="searchType"
      name="searchType"
      placeholder="Search Type..."
      value="{{searchType}}"
    />
    <button type="submit" class="btn-search">Search</button>
  </form>

  {{#if electronics.length}}
    <!--If there are matches after search-->
    <div class="search-result">
      <div class="search-list">
        {{#each electronics}}
          <a
            href="/electronics/details/{{_id}}"
            class="added-electronics-in-market"
          >
            <img src="{{image}}" class="picture-added-electronics" />
            <h3>{{name}}</h3>
            <span>Price: ${{price}}</span>
          </a>
        {{/each}}
      </div>
    </div>
  {{else}}
    <!--If there are no matches-->
    <div class="no-match">
      <p>No match was found!</p>
    </div>
  {{/if}}
</section>